<div *ngIf="posts.length > 0; else loader">
  <h2 class="title">Post List</h2>
  <div class="center">
    <div class="grid-container">
      <div
        class="grid-item"
        *ngFor="let p of posts; let i = index"
        [routerLink]="['/post-details/', p.id]"
      >
        <img
          src="https://picsum.photos/200/300?random={{ i }}"
          alt="Avatar"
          class="card-image"
        />
        <div class="container">
          <b class="card-title">{{ p.title }}</b>
          <p class="card-description">{{ p.body.slice(0, 95) + "..." }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="loader"></div>
</ng-template>
